@charset "utf-8";

.case {
  margin: 10px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 10px #ccc;
  .title {
    height: 40px;
    border-bottom: 3px solid #e7e7e7;
    h2 {
      margin-top: -5px;
      font-family: "microsoft yahei";
      a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #404040;
      }
    }
  }
  .title-list {
    position: relative;
    top: 13px;
    li {
      width: 160px;
      line-height: 20px;
      text-align: center;
      float: left;
      display: inline;
      a {
        text-decoration: none;
        color: #404040;
      }
    }
    li.on {
      color: #ff6600;
      font-weight: bold;
    }
    p {
      position: absolute;
      top: 24px;
      left: 0px;
      width: 160px;
      height: 10px;
      border-top: 3px solid #ff6600;
      overflow: hidden;
      text-align: center;
    }
    b {
      display: inline-block;
      width: 0;
      height: 0;
      margin-top: -3px;
      border-style: solid dashed dashed dashed;
      border-width: 9px;
      border-color: #ff6600 #fff #fff #fff;
      overflow: hidden;
      zoom: 1;
      font-size: 0;
    }
  }
}

.product {
  height: 300px;
  position: relative;
  overflow: hidden;
  display: none;
  margin-top: 20px;
  ul {
    position: absolute;
    left: 0px;
  }
}

.product-wrap {
  .show {
    display: block;
  }
  .product li {
    float: left;
    display: inline;
    margin-left: 13px;
    background: #f3f3f3;
    border: 2px solid #fafafa;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    .ml0 {
      margin-left: 0px;
    }
    a.imgwrap {
      display: block;
      width: 226px;
      height: 200px;
      background: #fff;
      text-align: center;
    }
    p {
      padding-left: 15px;
      color: #666666;
      line-height: 22px;
    }

    p a {
      color: #666666;
      text-decoration: none;
    }

    p a:hover {
      color: #ff6600;
      text-decoration: none;
    }
  }
}

.index_bg {

}

.index_boe {
  margin: 0 auto;
  height: 250px;
}

.index1 {
  padding: 30px 0;
  height: 230px;
  p {
    float: right;
    width: 320px;
    margin: 3px 0 0 0;
    line-height: 17px;
    height: 137px;
    color: #404040;
    overflow: hidden;
    float: right;
  }
}

.index1_1 {
  width: 550px;
  height: 167px;
  img {
    height: 167px;
    width: 204px;
    float: left;
  }
  ul {
    float: right;
    width: 320px;
    margin: 3px 0 0 0;
  }
  ul li {
    line-height: 17px;
    span {
      float: right;
      color: #404040;
    }
    a {
      color: #404040;
    }
  }
}

.index1_1_title {
  position: relative;
  height: 30px;
  padding: 2px 0 0 0;
  float: right;
  width: 320px;
  a.aa {
    font-family: 微软雅黑;
    font-size: 15px;
    line-height: 15px;
    float: left;
    font-weight: bold;
    color: #404040;
  }
  span {
    line-height: 14px;
    clear: both;
    float: left;
    color: #404040;
  }
  a.more {
    position: absolute;
    right: 0;
    bottom: 3px;
  }
  a.more img {
    height: 13px;
    width: 34px;
  }
}

.index1_2 {
  width: 550px;
  height: 167px;
  img {
    height: 167px;
    width: 204px;
    float: left;
  }
}

.index1_2_title {
  position: relative;
  height: 30px;
  padding: 2px 0 0 0;
  float: right;
  width: 320px;
  a.aa {
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 15px;
    float: left;
    font-weight: bold;
    color: #404040;
  }
  span {
    line-height: 14px;
    clear: both;
    float: left;
    color: #404040;
  }
  a.more {
    position: absolute;
    right: 0;
    bottom: 3px;
  }
  a.more img {
    height: 13px;
    width: 34px;
  }
}

/*******
页脚
********/
.footer-center {
  width: 1180px;
  margin: auto;
  overflow: auto;
  color: #787878;
  text-align: center;
  padding: 24px 0px;
}

.footer-nav {
  text-align: left;
  width: 1180px;
}

.footer-nav-ul {
  width: 1180px;
  h3 {
    font: 16px/30px "Microsoft YaHei";
  }
}

.footer-nav-item {
  width: 196px;
  height: 93px;
  float: left;
}

.footer-link {
  width: 1180px;
  margin: 0 auto;
  clear: left;
  a {
    color: #787878;
    line-height: 30px;
    margin: auto;
    padding: 0 10px;
  }
}

/******标题******/
.title20 {
  height: 36px;
  padding: 0 10px 0 50px;
  background: #EFEFEF url(/images/title20.gif) 20px center no-repeat;
  .mianbao {
    float: left;
    line-height: 36px;
    a {
      margin: 0 5px;
    }
  }
  h5 {
    color: #333;
    a {
      color: #333;
    }
  }
  span {
    display: none;
  }
}

.title21 {
  margin: 30px 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

/******新闻*****/
.xinwen1 {
  padding: 20px 0 0;
  dl {
    height: 250px;
    padding: 20px;
    border-bottom: 1px dashed #A7A7A7;
    img {
      height: 200px;
      width: 270px;
      float: left;
    }
    dt {
      float: right;
      width: 700px;
      line-height: 35px;
      a {
        color: #333;
        font-weight: bold;
        font-size: 15px;
      }
      span {
        float: right;
        color: #404040;
      }
    }
    dd {
      float: right;
      width: 700px;
      height: 110px;;
      line-height: 22px;
      overflow: hidden;
      color: #404040;
    }
    p {
      float: right;
      width: 700px;
      margin: 8px 0 0;
    }
    p a {
      display: block;
      float: left;
      padding: 0 15px 0 25px;
      line-height: 26px;
      color: #FFF;
      height: 26px;
      background: #FF0000 url(/images/scroll20_r_more.gif) 15px center no-repeat;
    }
  }
}

/*********产品********/
.chanpin1 {
  height: 37px;
  padding: 60px 0 0 0;
  a {
    display: block;
    height: 37px;
    width: 156px;
    font-weight: bold;
    font-size: 14px;
    line-height: 37px;
    text-align: center;
    color: #FFF;
    background: #F00;
    margin: 0 auto;
  }
}


.chanpin2 {
  text-align: center;
  margin: 30px 0 50px;
  height: 30px;
  line-height: 30px;
  background: url(images/xian1.gif) center center repeat-x;
  a {
    margin: 0 10px;
    color: #404040;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 14px;
  }

}

.chanpin3 {
  height: 267px;
  background: url(images/chanpin3.gif) left bottom repeat-x;
}

/* 滚动图片 */
.scroll10 {
  width: 670px;
  margin: 0 auto;
  position: relative;
  padding: 0px 160px 0px 100px;
  overflow: hidden;
  ul {
    padding-top: 0px;
  }
  li {
    width: 224px;
    text-align: left;
    padding: 0px 8px 0;
    p {
      height: 70px;
      padding: 20px;
      font-size: 14px;
      background: #C9CACA;
      color: #4C4948;
      font-weight: bold;
      font-family: 微软雅黑;
      span {
        display: block;
        padding: 5px 0 0;
      }
    }
    :hover p {
      background: #EFEFEF;
      color: #E60012
    }
    span {
      color: #F3572F;
    }
  }
  :hover img.img1 {
    display: none;
  }
  :hover img.img2 {
    display: block;
  }
  img {
    height: 157px;
    width: 224px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
    background: none;
  }
  img.img1 {
    display: block;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
  img.img2 {
    display: none;
  }

}

.scroll10 img:hover, #list-view .highlight {
  border-color: #ff8015;
  _border: none;
}

.scroll10 a.bx-prev, .scroll10 a.bx-next {
  position: absolute;
  top: 120px;
  display: block;
  width: 53px;
  height: 53px;
  background: url(images/gundong_l.png) no-repeat center center;
  z-index: 99999;
}

.scroll10 a.bx-prev {
  left: -74px;
}

.scroll10 a.bx-prev:hover {
  background: url(images/gundong_l.png) no-repeat center center;
}

.scroll10 a.bx-next {
  right: -74px;
  background: url(images/gundong_r.png) no-repeat center center;
}

.scroll10 a.bx-next:hover {
  background: url(images/gundong_r.png) no-repeat center center;
}

.chanpin4 {
  margin: 120px 0 30px 0;
}

/* 滚动图片 */
.scroll20 {
  width: 670px;
  margin: 0 auto;
  position: relative;
  padding: 0px 110px 0px 70px;
  overflow: hidden;
  ul {
    padding-top: 0px;
  }
  li {
    width: 570px;
    text-align: left;
    padding: 0px 60px 0;
    span {
      color: #F3572F;
    }
  }
  img {
    max-width: 250px;
    max-height: 400px;
    margin-bottom: 0px;
    padding: 0;
    border: none;
    background: none;
    :hover, #list-view .highlight {
      border-color: #ff8015;
      _border: none;
    }
  }
}

.scroll20 a.bx-prev, .scroll20 a.bx-next {
  position: absolute;
  top: 80px;
  display: block;
  width: 53px;
  height: 53px;
  background: url(images/gundong20_l.gif) no-repeat center center;
  z-index: 99999;
}

.scroll20 a.bx-prev {
  left: -74px;
}

.scroll20 a.bx-prev:hover {
  background: url(images/gundong20_l2.gif) no-repeat center center;
}

.scroll20 a.bx-next {
  right: -74px;
  background: url(images/gundong20_r.gif) no-repeat center center;
}

.scroll20 a.bx-next:hover {
  background: url(images/gundong20_r2.gif) no-repeat center center;
}

.scroll20_l {
  float: left;
  width: 250px;
}

.scroll20_r {
  float: right;
  width: 270px;
}

.scroll20_r_title {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px dashed #CCC;
  a {
    color: #E60012;
    font-weight: bold;
    font-size: 18px;
  }
}

.scroll20_r_text {
  line-height: 22px;
  height: 110px;
  overflow: hidden;
  margin: 10px 0;
}

.scroll20_r_more a {
  display: block;
  float: left;
  padding: 0 15px 0 25px;
  line-height: 26px;
  color: #FFF;
  height: 26px;
  background: #FF0000 url(images/scroll20_r_more.gif) 15px center no-repeat;
}

/***************公司简介**************/
.nav_site {
  height: 25px;
  line-height: 25px;
  border-bottom: #999 1px dotted;
  border-top: #999 1px dotted;
  margin-bottom: 10px;
  color: #b3b2b3;
  text-align: right;
}

.aboutus {
  height: auto;
  padding: 20px 0;
  color: #807F7F;
  line-height: 22px;
}




