@charset "utf-8";

.case {
  margin: 10px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 10px #ccc;
  .title {
    height: 40px;
    border-bottom: 3px solid #e7e7e7;
    h2 {
      margin-top: -5px;
      font-family: "microsoft yahei";
      a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #404040;
      }
    }
  }
  .title-list {
    position: relative;
    top: 13px;
    li {
      width: 160px;
      line-height: 20px;
      text-align: center;
      float: left;
      display: inline;
      a {
        text-decoration: none;
        color: #404040;
      }
    }
    li.on {
      color: #ff6600;
      font-weight: bold;
    }
    p {
      position: absolute;
      top: 24px;
      left: 0px;
      width: 160px;
      height: 10px;
      border-top: 3px solid #ff6600;
      overflow: hidden;
      text-align: center;
    }
    b {
      display: inline-block;
      width: 0;
      height: 0;
      margin-top: -3px;
      border-style: solid dashed dashed dashed;
      border-width: 9px;
      border-color: #ff6600 #fff #fff #fff;
      overflow: hidden;
      zoom: 1;
      font-size: 0;
    }
  }
}

.product {
  height: 300px;
  position: relative;
  overflow: hidden;
  display: none;
  margin-top: 20px;
  ul {
    position: absolute;
    left: 0px;
  }
}

.product-wrap {
  .show {
    display: block;
  }
  .product li {
    float: left;
    display: inline;
    margin-left: 13px;
    background: #f3f3f3;
    border: 2px solid #fafafa;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    .ml0 {
      margin-left: 0px;
    }
    a.imgwrap {
      display: block;
      width: 226px;
      height: 200px;
      background: #fff;
      text-align: center;
    }
    p {
      padding-left: 15px;
      color: #666666;
      line-height: 22px;
    }

    p a {
      color: #666666;
      text-decoration: none;
    }

    p a:hover {
      color: #ff6600;
      text-decoration: none;
    }
  }
}

.index_bg {

}

.index_boe {
  margin: 0 auto;
  height: 250px;
}

.index1 {
  padding: 30px 0;
  height: 230px;
  p {
    float: right;
    width: 320px;
    margin: 3px 0 0 0;
    line-height: 17px;
    height: 137px;
    color: #404040;
    overflow: hidden;
    float: right;
  }
}

.index1_1 {
  width: 550px;
  height: 167px;
  img {
    height: 167px;
    width: 204px;
    float: left;
  }
  ul {
    float: right;
    width: 320px;
    margin: 3px 0 0 0;
  }
  ul li {
    line-height: 17px;
    span {
      float: right;
      color: #404040;
    }
    a {
      color: #404040;
    }
  }
}

.index1_1_title {
  position: relative;
  height: 30px;
  padding: 2px 0 0 0;
  float: right;
  width: 320px;
  a.aa {
    font-family: 微软雅黑;
    font-size: 15px;
    line-height: 15px;
    float: left;
    font-weight: bold;
    color: #404040;
  }
  span {
    line-height: 14px;
    clear: both;
    float: left;
    color: #404040;
  }
  a.more {
    position: absolute;
    right: 0;
    bottom: 3px;
  }
  a.more img {
    height: 13px;
    width: 34px;
  }
}

.index1_2 {
  width: 550px;
  height: 167px;
  img {
    height: 167px;
    width: 204px;
    float: left;
  }
}

.index1_2_title {
  position: relative;
  height: 30px;
  padding: 2px 0 0 0;
  float: right;
  width: 320px;
  a.aa {
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 15px;
    float: left;
    font-weight: bold;
    color: #404040;
  }
  span {
    line-height: 14px;
    clear: both;
    float: left;
    color: #404040;
  }
  a.more {
    position: absolute;
    right: 0;
    bottom: 3px;
  }
  a.more img {
    height: 13px;
    width: 34px;
  }
}